<form class="{{cssClass}} font-sans flex flex-col" autocomplete="off">

    {{!-- Sheet Header --}}
    <header class="grid grid-cols-2 gap-4">

        <div class="flex flex-col gap-2">
            <div>
                <input name="name" type="text" value="{{actor.name}}" placeholder="{{localize " WW.ActorName"}}"
                    class="!font-serif !text-xl italic !text-center" />
            </div>


            <div class="grid grid-cols-2 gap-2">
                {{!-- Portrait --}}
                <img src="{{actor.img}}" data-edit="img"
                    class="w-32 h-32 rounded-full object-cover object-center border-2 border-ww-orchid hover:border-ww-purple" />

                {{!-- Attributes --}}
                <div class="grid grid-cols-2 gap-2 my-auto align-middle">
                    {{#each system.attributes as |attribute key|}}
                    <div>
                        <label for="system.attributes.{{key}}.value"
                            class="font-semibold uppercase !text-xs">{{attribute.label}}</label>
                        <div class="flex items-center">
                            <input type="number" name="system.attributes.{{key}}.value" value="{{attribute.value}}"
                                min="0" data-dtype="Number" class="!w-10 !rounded-r-none" />
                            <a data-roll="d20+@attributes.{{key}}.mod[modifier]@boons[boons]"
                                data-label="{{attribute.label}}" title="Roll {{attribute.label}}"
                                class="rollable font-bold text-ww-purple bg-ww-orchid p-1.5 rounded-r-md hover:bg-ww-purple hover:text-white">{{numberFormat
                                attribute.mod decimals=0 sign=true}}</a>
                        </div>
                    </div>
                    {{/each}}
                </div>
            </div>
        </div>



        {{!-- Defense --}}
        <div class="bg-ww-silver/25 p-2 rounded-md flex flex-col gap-2 h-full justify-between">
            <div class="flex">
                <label for="system.stats.defense.total" class="font-semibold uppercase !text-xs">{{localize
                    "WW.Defense"}}</label>
                <div>{{system.stats.defense.total}} <a title="Edit Defense"><i></i></a></div>
            </div>
            {{!-- Damage / Health --}}
            <div class="flex">
                <label for="system.stats.health.total" class="font-semibold uppercase !text-xs">{{localize "WW.Damage"}}
                    / {{localize
                    "WW.Health.Title"}}</label>
                <div class="flex">
                    <input type="number" name="system.stats.damage.value" value="{{system.stats.damage.value}}" min="0"
                        data-dtype="Number" />
                    <span class="ml-1">/ {{system.stats.health.total}}
                        <a title="Edit Health" class="health-edit"><i class="fas fa-edit"></i>
                        </a>
                    </span>
                </div>
            </div>
            {{!-- Bonus Damage --}}
            <div class="flex">
                <label for="system.stats.bonusdamage.value" class="font-semibold uppercase !text-xs">{{localize
                    "WW.BonusDamage"}}</label>
                <div class="flex">
                    <input type="number" name="system.stats.bonusdamage.value"
                        value="{{system.stats.bonusdamage.value}}" data-dtype="Number" min="0" placeholder="#" />d6
                </div>
            </div>
            <div class="flex w-full">

                <a title="Roll {{localize " WW.Luck"}}"
                    class="rollable w-full text-center font-bold text-ww-purple bg-ww-orchid p-1.5 rounded-md hover:bg-ww-purple hover:text-white">
                    <i class="large fas fa-clover" data-label="Luck"></i> {{localize "WW.Luck"}}
                </a>

            </div>
        </div>
        </div>
    </header>

    <nav data-group="primary" class="sheet-tabs"> {{!-- Sheet Tab Navigation --}}
        <a data-tab="summary">{{localize "WW.Summary"}}</a>
        <a data-tab="stats">{{localize "WW.Stats"}}</a>
        <a data-tab="details">{{localize "WW.Details"}}</a>
        <a data-tab="equipment">{{localize "WW.Equipment"}}</a>
        <a data-tab="talents">{{localize "WW.Talents"}}</a>
        <a data-tab="spells">{{localize "WW.Spells"}}</a>
        {{!--<a data-tab="afflictions">{{localize "WW.Afflictions"}}</a>--}}
        <a data-tab="effects">{{localize "WW.Effects"}}</a>
    </nav>

    {{!-- Sheet Body --}}
    <section class="sheet-body">

        {{!-- Summary Tab --}}
        <div data-group="primary" data-tab="summary" class="tab summary">
            {{> "systems/weirdwizard/templates/actors/parts/Character-summary.hbs"}}
        </div>

        {{!-- Stats Tab --}}
        <div data-group="primary" data-tab="stats" class="tab stats">
            {{> "systems/weirdwizard/templates/actors/parts/Character-stats.hbs"}}
        </div>

        {{!-- Details Tab --}}
        <div data-group="primary" data-tab="details" class="tab details">
            {{> "systems/weirdwizard/templates/actors/parts/Character-details.hbs"}}
        </div>

        {{!-- Equipment Tab --}}
        <div data-group="primary" data-tab="equipment" class="tab equipment">
            {{> "systems/weirdwizard/templates/actors/parts/Character-equipment.hbs"}}
        </div>

        {{!-- Traits & Talents Tab --}}
        <div data-group="primary" data-tab="talents" class="tab talents">
            {{> "systems/weirdwizard/templates/actors/parts/Character-talents.hbs"}}
        </div>

        {{!-- Spells Tab --}}
        <div data-group="primary" data-tab="spells" class="tab spells">
            {{> "systems/weirdwizard/templates/actors/parts/Character-spells.hbs"}}
        </div>

        {{!-- Afflictions Tab --}}
        {{!-- <div data-group="primary" data-tab="afflictions">
            {{> "systems/weirdwizard/templates/actors/parts/Character-afflictions.hbs"}}
        </div>
        --}}

        {{!-- Active Effects Tab --}}
        <div data-group="primary" data-tab="effects" class="tab effects">
            {{> "systems/weirdwizard/templates/actors/parts/Character-effects.hbs"}}
        </div>
    </section>
</form>