<form class="{{cssClass}} font-sans flex flex-col" autocomplete="off">

    {{!-- Sheet Header --}}
    <header class="grid grid-cols-2 gap-6">

        {{!-- Left Column --}}
        <div class="flex flex-col gap-2">
            {{!-- Name --}}
            <div>
                <input name="name" type="text" value="{{actor.name}}" placeholder="{{localize " WW.ActorName"}}"
                    class="!bg-transparent !rounded-none !font-cursive !text-2xl !text-center uppercase !border-t-0 !border-l-0 !border-r-0 !border-b-2 !border-dashed !border-ww-purple" />
            </div>

            <div class="grid grid-cols-2 gap-2">
                {{!-- Portrait --}}
                <img src="{{actor.img}}" data-edit="img"
                    class="w-32 h-32 bg-ww-orchid rounded-full object-cover object-center border-4 border-white hover:border-ww-purple shadow-lg" />

                {{!-- Attributes --}}
                <div class="grid grid-cols-2 gap-3 align-end items-end">
                    {{#each system.attributes as |attribute key|}}
                    <div>
                        <label for="system.attributes.{{key}}.value">{{attribute.label}}</label>
                        <div class="flex items-center">
                            <input type="number" name="system.attributes.{{key}}.value" value="{{attribute.value}}"
                                min="0" data-dtype="Number" class="!w-12 !rounded-r-none" />
                            <a data-roll="d20+@attributes.{{key}}.mod[modifier]@boons[boons]"
                                data-label="{{attribute.label}}" title="Roll {{attribute.label}}"
                                class="rollable button !rounded-l-none">{{numberFormat
                                attribute.mod decimals=0 sign=true}}</a>
                        </div>
                    </div>
                    {{/each}}
                </div>
            </div>
        </div>

        {{!-- Right Column --}}
        <div class="flex flex-col gap-1 justify-between">
            {{!-- Defense --}}
            <div class="flex items-center">
                <label for="system.stats.defense.total" class="grow">
                    {{localize "WW.Defense"}}
                </label>

                <div
                    class="!w-32 flex gap-1 text-xl items-center text-center font-bold py-1.5 px-2 rounded-md bg-sky-800 text-white">
                    <a title="Edit Defense" class="defense-edit grow">{{system.stats.defense.total}}</a>
                </div>
            </div>

            {{!-- Damage / Health --}}
            <div class="flex items-center">
                <label for="system.stats.health.total" class="grow">
                    {{localize "WW.Damage"}} / {{localize "WW.Health.Title"}}
                </label>

                <div
                    class="!w-32 flex gap-1 text-xl items-center text-center font-bold py-1.5 px-2 rounded-md bg-red-900 text-white">
                    <div class="mx-auto">
                        <input type="number" name="system.stats.damage.value" value="{{system.stats.damage.value}}"
                            min="0" data-dtype="Number" class="!bg-red-800 !text-white !w-14 !px-1 !py-0.5" />
                        <span class="text-red-300"><a title="Edit Health" class="health-edit">/
                                {{system.stats.health.total}}</a></span>
                    </div>
                </div>
            </div>

            {{!-- Bonus Damage --}}
            <div class="flex items-center">
                <label for="system.stats.bonusdamage.value" class="grow">{{localize "WW.BonusDamage"}}</label>
                <div
                    class="!w-32 flex gap-1 text-xl items-center text-center font-bold py-1.5 px-2 rounded-md bg-emerald-900 text-white">
                    <div class="mx-auto">
                        <input type="number" name="system.stats.bonusdamage.value"
                            value="{{system.stats.bonusdamage.value}}" data-dtype="Number" min="0" placeholder="#"
                            class="!bg-emerald-800 !text-white !w-14 !px-1 !py-0.5" />
                        <span class="text-emerald-300">d6</span>
                    </div>
                </div>
            </div>

            {{!-- Luck Roll --}}
            <div class="flex w-full">
                <a class="rollable button w-full">
                    <i class="large fas fa-clover" data-label="Luck"></i> {{localize "WW.Luck"}}
                </a>
            </div>
        </div>
    </header>

    {{!-- Sheet Tab Navigation --}}
    <nav data-group="primary"
        class="sheet-tabs flex my-4 justify-evenly font-cursive uppercase font-bold text-sm border-none items-center text-center">
        <a data-tab="summary" class="w-full py-1 px-0.5 bg-ww-purple text-white rounded-l-md text-center">{{localize
            "WW.Summary"}}</a>
        <a data-tab="stats" class="w-full py-1 px-0.5 bg-ww-orchid text-center">{{localize "WW.Stats"}}</a>
        <a data-tab="details" class="w-full py-1 px-0.5 bg-ww-orchid text-center">{{localize "WW.Details"}}</a>
        <a data-tab="equipment" class="w-full py-1 px-0.5 bg-ww-orchid text-center">{{localize "WW.Equipment"}}</a>
        <a data-tab="talents" class="w-full py-1 px-0.5 bg-ww-orchid text-center">{{!-- localize "WW.Talents"
            --}}Talents</a>
        <a data-tab="spells" class="w-full py-1 px-0.5 bg-ww-orchid text-center ">{{localize "WW.Spells"}}</a>
        <a data-tab="effects" class="w-full py-1 px-0.5 bg-ww-orchid rounded-r-md text-center">{{localize
            "WW.Effects"}}</a>
    </nav>

    {{!-- Sheet Body --}}
    <section class="sheet-body">
        {{!-- Summary Tab --}}
        <div data-group="primary" data-tab="summary" class="tab summary">
            {{> "systems/weirdwizard/templates/actors/parts/Character-summary.hbs"}}
        </div>

        {{!-- Stats Tab --}}
        <div data-group="primary" data-tab="stats" class="tab stats">
            {{> "systems/weirdwizard/templates/actors/parts/Character-stats.hbs"}}
        </div>

        {{!-- Details Tab --}}
        <div data-group="primary" data-tab="details" class="tab details">
            {{> "systems/weirdwizard/templates/actors/parts/Character-details.hbs"}}
        </div>

        {{!-- Equipment Tab --}}
        <div data-group="primary" data-tab="equipment" class="tab equipment">
            {{> "systems/weirdwizard/templates/actors/parts/Character-equipment.hbs"}}
        </div>

        {{!-- Traits & Talents Tab --}}
        <div data-group="primary" data-tab="talents" class="tab talents">
            {{> "systems/weirdwizard/templates/actors/parts/Character-talents.hbs"}}
        </div>

        {{!-- Spells Tab --}}
        <div data-group="primary" data-tab="spells" class="tab spells">
            {{> "systems/weirdwizard/templates/actors/parts/Character-spells.hbs"}}
        </div>

        {{!-- Active Effects Tab --}}
        <div data-group="primary" data-tab="effects" class="tab effects">
            {{> "systems/weirdwizard/templates/actors/parts/Character-effects.hbs"}}
        </div>
    </section>
</form>